<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <title>게시판 - 글쓰기</title>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
            integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
            crossorigin="anonymous"
    />
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
    <!-- Font Awesome icons (free version)-->
    <script
            src="https://use.fontawesome.com/releases/v5.15.3/js/all.js"
            crossorigin="anonymous">
    </script>
    <!-- Google fonts-->
    <link
            href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
            rel="stylesheet"
            type="text/css"
    />
    <link
            href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700"
            rel="stylesheet"
            type="text/css"
    />

    <style>
        .btn-outline-light {
            color: #ffc800;
            border-color: #ffc800;
        }

        .login-img {
            width: 100px;
            height: 100px;
            margin-bottom: 20px;
        }

        textarea.form-control {
            height: 300px;
        }

        .wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 770px;
        }
    </style>
    <link href="../css/styles.css" rel="stylesheet"/>
</head>
<body style="height: 100vh">
<nav class="navbar navbar-expand-lg navbar-dark" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="/"><img src="/assets/img/logos/logo.png">득근득근</a>
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            Menu
            <i class="fas fa-bars ms-1"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/trainerboard">트레이너 찾기</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/trainerboard/save">트레이너 등록</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/board">자유게시판</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">로그인</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- login img -->
<div class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center">
                    <h1 class="display-5 fw-bolder text-white mb-2">
                        아직 회원이 아니신가요??
                    </h1>
                    <br/>
                    <p class="lead fw-normal text-white-50 mb-4">
                        회원 가입후 원하시는 코치를 만나보세요!
                    </p>
                </div>
            </div>
        </div>

        <div
                class="d-grid gap-3 d-sm-flex mt-5"
                style="justify-content: space-around"
        >
            <a
                    class="btn btn-outline-light btn-lg"
                    href="/oauth2/authorization/google"
            >구글 로그인</a
            >
            <a
                    class="btn btn-outline-light btn-lg"
                    href="/oauth2/authorization/naver"
            >네이버 로그인</a
            >
        </div>
    </div>
</div>

<!-- login card --------------------------------------------->
<div class="container text-center" style="min-height: 314px;">
    <div class="row mt-5">
        <div class="card col mt-5 ml-5 mr-5" style="width: 18rem">
            <div class="box-part text-center">
                <div>
                    <img class="login-img" src="assets/img/logos/google.png" />
                </div>
                <div class="title">
                    <h4>구글 회원가입</h4>
                </div>
                <div class="text">
                    <span>구글 아이디가 없으신분은 </span>
                </div>
                <a href="/oauth2/authorization/google">여기를 클릭해주세요</a>
            </div>
        </div>

        <div class="card col mt-5 ml-5 mr-5" style="width: 18rem">
            <div class="box-part text-center">
                <div>
                    <img class="login-img" src="assets/img/logos/naver.png" />
                </div>
                <div class="title">
                    <h4>네이버 회원가입</h4>
                </div>

                <div class="text">
                    <span>네이버 계정으로 회원가입하실분은</span>
                </div>
                <a href="/oauth2/authorization/naver">여기를 클릭해주세요</a>
            </div>
        </div>
    </div>
</div>


<!-- Footer-->
<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-start">
                Copyright &copy; 득근득근 2021
            </div>
            <div class="col-lg-4 my-3 my-lg-0">
                <a class="btn btn-dark btn-social mx-2" href="#!"
                ><i class="fab fa-twitter"></i
                ></a>
                <a class="btn btn-dark btn-social mx-2" href="#!"
                ><i class="fab fa-facebook-f"></i
                ></a>
                <a class="btn btn-dark btn-social mx-2" href="#!"
                ><i class="fab fa-linkedin-in"></i
                ></a>
            </div>
            <div class="col-lg-4 text-lg-end">
                <a class="link-dark text-decoration-none me-3" href="#!"
                >Privacy Policy</a
                >
                <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
            </div>
        </div>
    </div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
</body>
</html>
