<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>HTService</title>

    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
            integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
            crossorigin="anonymous"
    />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css" rel="stylesheet">
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
    <!-- Font Awesome icons (free version)-->
    <script
            src="https://use.fontawesome.com/releases/v5.15.3/js/all.js"
            crossorigin="anonymous"
    ></script>
    <!-- Google fonts-->


    <link
            href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
            rel="stylesheet"
            type="text/css"
    />
    <link
            href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700"
            rel="stylesheet"
            type="text/css"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../css/styles.css" rel="stylesheet"/>


    <style>

        .input-group > .custom-select:not(:first-child), .input-group > .form-control:not(:first-child) {
            border-top-left-radius: 0;
            text-align: center;
            border-bottom-left-radius: 0;
        }

        select {
            word-wrap: normal;

            width: 300px;
        }


        textarea.form-control {
            height: 250px;
        }

        .wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 770px;
        }

        .ml {
            margin-left: 10px;
        }

    </style>
</head>
<body>

<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="/"><img src="/assets/img/logos/logo.png">득근득근</a>
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            Menu
            <i class="fas fa-bars ms-1"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/trainerboard">트레이너 찾기</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/trainerboard/save">트레이너 등록</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/board">자유게시판</a>
                </li>
                {{#userName}}
                    <li class="nav-item">
                        <div class="dropdown">
                            <a href="#" class="d-block link-light text-decoration-none dropdown-toggle"
                               data-bs-toggle="dropdown" aria-expanded="false" id="dropdwonUser1">
                                <img src="{{userPicture}}" alt="profilePicture" width="32" height="32"
                                     class="rounded-circle">
                            </a>
                            <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1"
                                style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(0px, 34px)"
                                data-popper-placement="bottom-end">
                                <li><a class="dropdown-item" href="/board/save">New post...</a></li>
                                <li><a class="dropdown-item" href="/mypage/info">Profile</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="/logout">Sign out</a></li>
                            </ul>
                        </div>
                    </li>
                {{/userName}}
                {{^userName}}
                    <li class="nav-item">
                        <a class="nav-link" href="/login">로그인</a>
                    </li>
                {{/userName}}
            </ul>
        </div>
    </div>
</nav>
<header class="masthead" style="background-image: url(/assets/img/boardimage.jpg);">
    <div class="container">
        <div class="masthead-heading text-uppercase">
            Trainer
        </div>
    </div>
</header>
<div class="wrapper">
    <div class="container">
        <section class="page-section bg-light mt-5" id="trainerboard-save">
            <div class="container">
                <div class="navname text-center">
                    <h1>트레이너 등록</h1>
                </div>
                <div class="col-md-12">
                    <form enctype="multipart/form-data" id="form">
                        <div class="form-group">
                            <label for="author"> 회원이름 </label>
                            <input
                                    type="text"
                                    class="form-control"
                                    id="author"
                                    value="{{userName}}"
                                    readonly
                            />
                        </div>
                        <div class="form-group">
                            <label for="picture"> 썸네일 </label>
                            <input
                                    type="file"
                                    name="thumbnail"
                                    id="thumbnail"
                                    accept=".gif, .png, .jpg"
                            />
                        </div>
                        <div class="form-group">
                            <label for="introduce"> 한마디 </label>
                            <textarea
                                    class="form-control"
                                    onkeydown="resize(this)"
                                    onkeyup="resize(this)"
                                    id="introduce"
                                    style="height: 50px;"
                                    placeholder="본인을 설명할 수 있는 한마디를 써주세요"
                            ></textarea>
                        </div>
                        <div class="form-group">
                            <label for="program"> 프로그램 </label>
                            <textarea
                                    style="height: 150px"
                                    class="form-control"
                                    onkeydown="resize(this)"
                                    onkeyup="resize(this)"
                                    id="program"
                                    placeholder="프로그램 상세 내용"
                            ></textarea>
                        </div>

                        <div class="form-group">
                            <label for="file"> 파일 </label>
                            <input
                                    multiple="multiple"
                                    type="file"
                                    name="file"
                                    id="file"
                                    accept=".gif, .png, .jpg"
                            />
                        </div>

                        <div class="form-group">
                            <table class="table table-bordered text-center">
                                <thead>
                                <tr>
                                    <td colspan="2">피티 가격표</td>
                                </tr>
                                </thead>
                                <tbody id="pbody">
                                <tr>
                                    <td>10회</td>
                                    <td>
                                        <div class="input-group flex-nowrap">
                                            <div class="input-group-prepend"></div>
                                            <input
                                                    type="number"
                                                    id="price10"
                                                    class="form-control"
                                                    placeholder="단위/원 (ex 400,000)"
                                                    aria-describedby="addon-wrapping"
                                            />
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>20회</td>
                                    <td>
                                        <div class="input-group flex-nowrap">
                                            <div class="input-group-prepend"></div>
                                            <input
                                                    type="number"
                                                    id="price20"
                                                    class="form-control"
                                                    placeholder="단위/원 (ex 800,000)"
                                                    aria-describedby="addon-wrapping"/></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>30회</td>
                                    <td>
                                        <div class="input-group flex-nowrap">
                                            <div class="input-group-prepend"></div>
                                            <input
                                                    type="number"
                                                    id="price30"
                                                    class="form-control"
                                                    placeholder="단위/원 (ex 1,200,000)"
                                                    aria-describedby="addon-wrapping"
                                            />
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="row mb-5 mt-5 ">
                            <label for="address"> </label>
                            <select

                                    style="width: 48%; margin-left: 10px ;"
                                    class="form-control"
                                    placeholder="카테고리 선택해 주세요"
                                    onchange="categoryChange(this)"
                                    name="address1"
                                    id="address"
                            >
                                <option>활동지역</option>
                                <option value="강원">강원</option>
                                <option value="경기">경기</option>
                                <option value="경남">경남</option>
                                <option value="경북">경북</option>
                                <option value="광주">광주</option>
                                <option value="대구">대구</option>
                                <option value="대전">대전</option>
                                <option value="부산">부산</option>
                                <option value="서울">서울</option>
                                <option value="세종">세종</option>
                                <option value="울산">울산</option>
                                <option value="인천">인천</option>
                                <option value="전남">전남</option>
                                <option value="전북">전북</option>
                                <option value="제주">제주</option>
                                <option value="충남">충남</option>
                                <option value="충북">충북</option>
                            </select>
                            <select
                                    class="form-control"
                                    style="width: 50%;"
                                    id="good" name="address2">
                                <option></option>
                            </select>
                        </div>

                        <div class="form-group justify-content-center"  style="display: flex">
                            <div>
                                <input type="checkbox" name="category" id="yoga" value="요가"/>
                                <label class="btn" for="yoga">요가</label>
                            </div>
                            <div>
                                <input type="checkbox" name="category" id="health" value="헬스"/>
                                <label class="btn" for="health">헬스</label>
                            </div>
                            <div>
                                <input type="checkbox" name="category" id="pilates" value="필라테스"/>
                                <label class="btn" for="pilates">필라테스</label>
                            </div>
                            <div>
                                <input type="checkbox" name="category" id="bulk" value="벌크업"/>
                                <label class="btn" for="bulk">벌크업</label>
                            </div>
                            <div>  <input type="checkbox" name="category" id="diet" value="다이어트"/>
                                <label class="btn" for="diet">다이어트</label>
                            </div>
                            <div>
                                <input type="checkbox" name="category" id="bodypro" value="바디프로필"/>
                                <label class="btn" for="bodypro">바디프로필</label>
                            </div>
                            <div>
                                <input type="checkbox" name="category"  id="strength" value="기초체력"/>
                                <label class="btn" for="strength">기초체력</label>
                            </div>
                            <div>
                                <input type="checkbox" name="category" id="match" value="대회준비"/>
                                <label class="btn" for="match">대회준비</label>
                            </div>
                        </div>
                    </form>


                    <div class="btn-block">
                        <button
                                type="button"
                                id="btn-trainer-save"
                                class="btn btn-primary btn-lg btn-block"
                                style="background-color: #ffc800; border-color: #ffc800"
                        >
                            신청
                        </button>
                        <a
                                href="/"
                                role="button"
                                class="btn btn-secondary btn-lg btn-block"
                        >취소</a
                        >
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<footer class="footer py-4 bg-light mt-auto">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-start">
                Copyright &copy; 득근득근 2021
            </div>
            <div class="col-lg-4 my-3 my-lg-0">
                <a class="btn btn-dark btn-social mx-2" href="#!"
                ><i class="fab fa-twitter"></i
                ></a>
                <a class="btn btn-dark btn-social mx-2" href="#!"
                ><i class="fab fa-facebook-f"></i
                ></a>
                <a class="btn btn-dark btn-social mx-2" href="#!"
                ><i class="fab fa-linkedin-in"></i
                ></a>
            </div>
            <div class="col-lg-4 text-lg-end">
                <a class="link-dark text-decoration-none me-3" href="#!"
                >Privacy Policy</a
                >
                <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
            </div>
        </div>
    </div>
</footer>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<!--index.js 추가-->
<script src="../js/app/index.js"></script>
<script src="../js/app/select.js"></script>
</body>
</html>
